
body {
    background-color: rgba(164, 170, 168, 0.156);
  }
  
  #top {
    font-style: oblique;
    color: black;
    font-size: 80px;
    height: 100%;
    display: flex;
    margin: 150px 300px 10px;
    justify-content: center;
    align-items: center;
    }
  
  #bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }